.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* Flexbox 1 */
.flexOne {
    display:flex;
    
}
.flexOne > .square{
margin: 5px;
}
/* Flexbox 2 */
.flexTwo {
    display:flex;
    flex-direction: column;
}
.flexTwo > .square{
margin: 2px;
}
/* Flexbox 3 */
.flexThree {
    display:flex;
    flex-direction: row-reverse;
}
.flexThree > .square{
margin: 2px;
}
/* Flexbox 4 */
.flexFour {
    width: 350px;
    display:flex;
    flex-flow: wrap;
}
.flexFour > .square{
    background-color: #3d8b6d;
margin: 5px;
}
/* Flexbox 5 */
.flexFive {
    display:flex;
    width: 350px;
}
.flexFive > .item{
margin: 2px;
height: 100px;
width: 100px;
background-color: #0b6643;
}
#grow{
flex-grow: 2;
}
/* Flexbox 6 */
.flexSix {
    width: 500px;
    height: 400px;
    background-color: #f1f1f1;
    flex-direction: column;
}
.flexSix > .one{
    display:flex;
    justify-content: space-around;
}
.flexSix > .two{
    display:flex;
    justify-content: space-between;
    margin: 50px 0;
    background-color: #d6d6d6;
}
.flexSix > .three{
    display:flex;
    justify-content: space-evenly;
}

/* Flexbox 7 */
.flexSeven {
    width: 500px;
    height: 400px;
    display:flex;
    background-color: #f1f1f1;
    justify-content: space-between;
}
.flexSeven > .one{
    display:flex;
     flex-direction: column;
    justify-content: center;
}
.flexSeven > .two{
    display:flex;
     flex-direction: column;
    justify-content: flex-end;
    background-color: #d6d6d6;
}
.flexSeven > .three{
    display:flex;
     flex-direction: column;
    justify-content: flex-start;
}
.flexSeven > .four{
    display:flex;
     flex-direction: column;
    justify-content: space-between;
    background-color: #d6d6d6;
}
/* Flexbox 8 */
.flexEight {
    height: 400px;
    width: 300px;
    background-color: #eeeeee;
    display: flex;
}
.flexEight > .one{
    display:flex;
    align-items: center;
}
.flexEight > .two{
       display:flex;
    align-items: flex-end;
}
.flexEight > .three{
       display:flex;
    align-items: flex-start;
}
/* Flexbox 9 */
.flexNine {
    height: 250px;
    width: 450px;
    background-color: #eeeeee;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
}

#special{
align-self: flex-end;
}